.phone {
  position: relative;
  width: 91%;
  max-width: 400px;
  height: auto;
  transform: scale(.77);
  border-radius: 35px;
  margin: 3rem 0;
  box-shadow: 67px 71px 67px -50px #b8b7b7;
  border: 24px solid #fcfcfc;

  &::before {
    content: "";
    background-color: $bg-color;
    border-radius: 30px;
    height: calc(100% + 15px);
    width: calc(100% + 24px);
    position: absolute;
    top: -6.3px;
    left: -12px;
    z-index: -1;
  }

  .phone_camera {
    width: 60%;
    height: calc(100% / 27);
    background-color: #fcfcfc;
    position: absolute;
    top: -9px;
    left: 50%;
    z-index: 1;
    border-radius: 0 0 12px 12px;
    transform: translateX(-50%);
  }
}

.chat {
  width: auto;
  max-width: 65%;
  padding: 0.5rem 0.4rem;
  font-size: 0.6rem;
  margin: 0.4rem 0;
  // font-weight: 600;
}

.left-wrapper {
  @include flex(column, space-around, flex-start);

  .left {
    color: $chat-left-color;
    background-color: hsla(276, 100%, 88%, 0.37);
    border-radius: 10px 10px 10px 3px;
  }

  .price{
    width: 75%;
    padding: .8rem .5rem;
    @include gradient(left);
    @include flex(row, space-around, center);
    margin: .4rem 0;
    border-radius: 10px 10px 10px 3px;
    color: white;
    
    .radio-btn{
      border: 2px solid $radio-btn;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    p{
      font-size: .6rem;
    }

    h3{
      font-size: 1rem;
      padding: 0 0 0 15%;
    }
  }
}

.right-wrapper {
  @include flex(column, space-around, flex-end);

  .right {
    color: $chat-right-color;
    background-color: white;
    border-radius: 10px 10px 3px 10px;
  }

  .pictures {
    @include flex(row, space-between, center);
    width: 67%;
    background-color: transparent;
    margin: 0.4rem 0;

    img {
      height: 45x;
      width: 45px;
      border-radius: 10px;
    }
  }
}

.chat-input{
  width: 93%;
  margin: .6rem auto;
  @include flex(row, space-between, center);
  border-radius: 20px;
  background-color: white;
  height: 40px;

  .placeholder{
    color: $placeholder;
    font-size: .7rem;
    padding-left: 1.5rem;
  }
  
  .send{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $submit;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    color: white;
    margin-right: 3%;
  }
}