
$placeholder: hsl(206, 6%, 79%);
$pale-voilet: hsl(276, 100%, 81%);
$chat-left-color: hsl(276, 55%, 52%);
$chat-right-color: hsl(271, 15%, 43%);
$h1-color: hsl(271, 36%, 24%);
$p-color: hsl(270, 7%, 64%);
$bg-color: hsl(276, 14%, 93%);
$submit: hsl(271, 36%, 24%);
$radio-btn: hsl(289, 100%, 72%);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@function weight($size){
    @return map-get($font-weights, $size);
}

@mixin gradient($direction) {
  background-image: linear-gradient(
    $direction,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}

@mixin flex($direction, $justify, $align){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin  media-md {
  @media only screen and (min-width: 760px) {
    @content;
  }
}

@mixin  media-l {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin name {
  
}