@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f5f5;
    overflow-X: hidden;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        overflow: hidden;
        top: -3%;
        left: -30%;
        height: 80%;
        width: 65%;
        @include gradient(top);
        border-radius: 0 0 45% 45%;
        z-index: -2;
    }
}
.container{
    @include flex(column, center, center);
    min-height: 100vh;
    margin-bottom: 1rem;
    max-width: 98vw;
    padding: 1rem;
    margin: 0 auto;

}
@import 'phone';
@import 'nav';
.main-text{
    width: 90%;
    text-align: center;

    h1{
        font-size: 2rem;
        color: $h1-color;
        margin: 1rem 0;
    }

    p{
        font-size: .9rem;
        color: $p-color;
    }
}

.attribution { 
    margin: 3rem .5rem 0 .5rem;
    text-align: center;
    font-size: 11px; 
    width: 100%;
    position: relative;
    bottom: .5rem;
    
    
    a { color: hsl(228, 45%, 44%); }
}
@import 'responsive';
