@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f5f5;
    overflow-x: hidden;
    max-width: 100vw;

    &::before{
        content: '';
        position: fixed;
        top: -3%;
        left: -50%;
        height: 50vh;
        width: 90%;
        @include gradient(top);
        border-radius: 0 0 50% 50%;
        z-index: -2;
    }
    &::after{
        content: '';
        position: fixed;
        bottom: 0;
        right: -50%;
        height: 50vh;
        width: 80%;
        background-color: hsla(276, 100%, 88%, 0.37);
        border-radius: 50% 50% 0 0;
        z-index: -2;
    }
}
.container{
    @include flex(column, center, center);
    min-height: 100vh;
    margin-bottom: 1rem;
    max-width: 98vw;
    padding: 1rem;
    margin: 0 auto;

}
@import 'phone';
@import 'nav';
.main-text{
    width: 90%;
    text-align: center;

    h1{
        font-size: 2rem;
        color: $h1-color;
        margin: 1rem 0;
    }

    p{
        font-size: .9rem;
        color: $p-color;
        line-height: 1.4;
    }
}

.attribution { 
    margin: 3rem .5rem 0 .5rem;
    text-align: center;
    font-size: 11px; 
    width: 100%;
    position: relative;
    bottom: .5rem;
    
    
    a { color: hsl(228, 45%, 44%); }
}
@import 'responsive';
